POSTGRES_DB=change-me
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me

DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

DJANGO_DATABASE_ENGINE=postgresql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=change-me
DJANGO_EMAIL_HOST_PASSWORD=change-me
DJANGO_DEFAULT_FROM_EMAIL=change-me
DJANGO_EMAIL_TIMEOUT=10

REGISTRATION_CODE_TTL_MINUTES=10