DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend


DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=your-address@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=your-google-app-password
DJANGO_DEFAULT_FROM_EMAIL=Опенпейч <your-address@gmail.com>
DJANGO_EMAIL_TIMEOUT=10

REGISTRATION_CODE_TTL_MINUTES=10

VITE_API_PROXY_TARGET=http://127.0.0.1:8000

# Локальное S3-совместимое хранилище
MINIO_ROOT_USER=openpage-local-admin
MINIO_ROOT_PASSWORD=change-me
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET_NAME=openpage-knowledge
S3_ACCESS_KEY_ID=openpage-backend
S3_SECRET_ACCESS_KEY=change-me
S3_REGION_NAME=us-east-1
