# зависимости
node_modules/
.venv/
venv/
env/

# сборка frontend
frontend/dist/
frontend/.vite/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Django
backend/db.sqlite3
backend/*.log

# окружение
.env
*.local
ratcker.md

# редакторы и система
.idea/
.vscode/
.DS_Store
Thumbs.db
