node_modules/
.venv/
venv/
env/
.env.prod


frontend/dist/
frontend/.vite/

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

backend/db.sqlite3
backend/*.log

.env
*.local

.idea/
.vscode/
.DS_Store
Thumbs.db
