[Unit]
Description=Backup OpenPage Pastgres database
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=ratcker
Group=ratcker
WorkingDirectory=/opt/openpage
ExecStart=/opt/openpage/deploy/scripts/backup.sh